.currency-section {
  background-color: #2a2d44;
  height: 300px;
  width: 100%;
}

.trasnparent-dropdown {
  background-color: transparent !important;
  border: 0;
}

.trasnparent-dropdown:focus {
  outline: none;
}

.bold-text {
  font-weight: 900;
}

.container {
  padding: 40px;
}

#currencyPriceSell,
#currencyPriceBuy {
  color: #fff;
  padding-left: 10px;
}

#currencyPricePart {
  text-align: center;
  padding-left: 50px;
}

#currencyPriceSection {
  text-align: center;
}

#contriesFlagIcon {
  width: 20px;
}

#currencyselect {
}

#currencySelectSection {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 55px !important;
  color: #fff !important;
}

#currencyConvertPrice {
  padding-left: 50px;
}

#transferMoneyInput {
  margin-left: 50px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}

input:focus {
  outline: none;
}
